<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

    {% if link_list %}
        <section>
        {% for link in link_list %}
            <p><a href="{{ link.link }}/">{{ link.link }}</a>{{ link.desc}}</p>
        {% endfor %}
        </section>
    {% else %}
        <p>No links are available.</p>
    {% endif %}


    </body>
</html>